<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签</title>
    <link rel="stylesheet" href="../static/semantic/semantic.min.css" th:href="@{/semantic/semantic.min.css}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small"></nav>


<!--中间内容-->
<div class="m-container-small m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#arrays.length(tags)}">
                    14 </h2> 个
                </div>
            </div>
        </div>

        <!--标签列表-->
        <div class="ui attached segment m-padded-tb-large">
            <!--标签,th:each-->
            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing large label m-margin-tb-tiny" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag : ${tags}">
                <span th:text="${tag.name}">标签</span>
                <div class="detail" th:text="${tag.blogs}">1</div>
            </a>
        </div>

        <!--文章列表-->
        <div class="ui top attached teal segment">
            <!--文章,th:each-->
            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                 class="m-black" th:text="${blog.title}">漫漫自由路</a></h3>
                        <p class="m-text" th:text="|${blog.description}......|">
                            曼德拉在狱中写成的自传，从曼德拉出生一直写到他当选并宣誓就任新南非总统，时间跨度达76年。此书中全面展现了曼德拉的人生和南非人民在非国大的领导下，为结束种族歧视、争取自由而英勇抗争的斗争过程。</p>
                        <div class="ui grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="../static/images/2.png" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                                            <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">IrAts</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2019-8-16</span>
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">类型</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#" th:href="@{/tags/{id}(id=${tag.id})}"
                                       class="ui  basic left pointing label m-padded-mini m-text-thin"
                                       th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag : ${blog.tags}"
                                       th:text="${tag.name}">标签</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="../static/images/2.png" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                        </a>
                    </div>

                </div>
            </div><!--文章,th:each:结束-->

        </div><!--文章列表:结束-->

        <!--footer-->
        <div class="ui bottom attached segment" th:if="${page.totalPages}>1">
            <div class="ui middle aligned three column grid">
                <div class="column">
                    <a href="#" th:href="@{'/tags/'+${activeTagId}(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="center aligned column">
                    <span class="ui mini center floated teal basic button" th:text="${page.number} + '/' + ${page.totalPages}">1/1</span>
                </div>
                <div class="right aligned column">
                    <a href="#" th:href="@{'/tags/'+${activeTagId}(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>

    </div>
</div>


<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="../static/jquery3.2.0/dist/jquery.min.js" th:src="@{jquery3.2.0/dist/jquery.min.js}"></script>
<script src="../static/semantic/semantic.min.js" th:src="/semantic/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>